<h3>Hello <%= fullName %>,</h3>
<p>Your agent account has been created on Dante Car Rental.</p>
<p><b>Email:</b> <%= email %></p>
<p><b>Temporary Password:</b> <%= tempPassword %></p>
<p>You can log in here: <a href="<%= loginUrl %>">Login</a></p>
