<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Hello <%= fullName %>,</h1>
    <p>Thank you for registering at Dante Car Rental.</p>
    <p>Your email: <%= email %></p>
  </body>
</html>
